* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.user-dashboard__container {
  height: 100vh;
  width: 100vw;
}

.user-dashboard__header {
  background-color: #FF6F61;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.user-dashboard__menu {
  background-color: #FF6F61;
  color: white;
}

.users-table__action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users-setting__add-button {
  margin: 10px;
}

.users-setting__table {
  width: 100%;
  padding-top: 10px;
}

.users-setting__additional-options {
  color: #FF6F61;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: right;
  margin-right: 4%;
  padding: 10px;
}
