* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.user-dashboard__container {
  height: 110vh;
  width: 100vw;
}

.user-dashboard__header {
  background-color: #001529;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.user-dashboard__menu {
  background-color: #001529;
  color: white;
}

.users-table__action {
  display: flex;
  align-items: center;
  gap: 10px;
}
